<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IMDB Clone{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav><a href="{% url 'movies:index' %}">Home</a></nav>
    </header>
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>